#menu_navbar {
    position: sticky;
    top: 0;
    left: 0;

    width: 100%;

    background-color: var(--primary-white) !important;
    box-shadow: 0px 2px var(--secondary-white);
}

#menu_navbar .navbar-nav {
    width: 100%;
    justify-content: flex-end;
}

#menu_navbar img#logo {
    height: 40px;
}