/* You can add global styles to this file, and also import other style files */
* {
    font-family: 'Poppins', sans-serif;

    border: 0;
    outline: 0;

    text-decoration: none;
}

:root {
    --primary-blue: #3d56d7;

    --primary-gray: #7F7774;

    --primary-white: #fff;
    --secondary-white: #ebebeb;
}

section {
    padding: 60px 5%;
}

img {
    max-width: 100%;
    max-height: 100%;
}