<main role="main">
    <section id="hero-section">
        <div class="container">
            <h3>Vá para onde quiser.</h3>
            <h2>Escolha seu carro agora mesmo!!</h2>
        </div>
    </section>

    <section id="our-vehicles">
        <div class="container">
            <header>
                <h3>Nossos veículos</h3>
                <p>Conheça alguns de nossos veículos</p>
            </header>

            <div class="vehicles-container">
                <div>
                    <img src="../../../assets/images/home/cars_for_sale/car-for-sale1.jpg" alt="Veículo a venda" />
                </div>
                <div>
                    <img src="../../../assets/images/home/cars_for_sale/car-for-sale2.jpg" alt="Veículo a venda" />
                </div>
                <div>
                    <img src="../../../assets/images/home/cars_for_sale/car-for-sale3.jpg" alt="Veículo a venda" />
                </div>
                <div>
                    <img src="../../../assets/images/home/cars_for_sale/car-for-sale4.jpg" alt="Veículo a venda" />
                </div>
            </div>
        </div>
    </section>
</main>