#hero-section {
    height: max(85vh, 450px);
    background-image: url("../../../assets/images/home/car-hero-section.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    /* https://www.behance.net/gallery/140873161/EV-Auto-Website-Presentation-%28Landing-page%29?tracking_source=search_projects%7Cvehicles%20website */
}

#hero-section h2 {
    color: var(--primary-blue);

    font-weight: 600;
}

#our-vehicles header {
    text-align: center;
}

#our-vehicles h3 {
    font-weight: 600;
}

#our-vehicles p {
    color: var(--primary-gray);
    font-weight: 500;

    margin: 16px 0;
}

#our-vehicles .vehicles-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
}

#our-vehicles .vehicles-container div {
    border-radius: 4px;

    overflow: hidden;
}

#our-vehicles .vehicles-container div img {
    height: 100%;
}