footer#footer {
    padding: 40px 5%;
    padding-bottom: 20px;

    background-color: var(--primary-blue);
}

footer#footer hr {
    background-color: var(--primary-white);

    height: 2px;
}

footer#footer #footer-top {
    display: flex;
    justify-content: space-around;
}

footer#footer #footer-top * {
    color: var(--primary-white);
    margin-top: 8px;
}

footer#footer #footer-top i {
    margin-right: 8px;
}

footer#footer form {
    background-color: var(--primary-white);

    display: flex;
    align-items: center;

    height: 52px;

    padding: 4px 8px;

    border-radius: 8px;
}

footer#footer input[type="text"] {
    color: #282828 !important;
    padding-left: 4px;
}

footer#footer input[type="submit"] {
    background-color: var(--primary-blue);
    
    padding: 4px 12px;
    margin-left: 4px;

    border-radius: inherit;
}

footer#footer #footer-bottom {
    text-align: center;

    color: var(--secondary-white);
}