<footer id="footer">
    <div class="container">
        <div id="footer-top">
            <address>
                <i class="fa-solid fa-location-dot"></i> Itapeva, SP<br>
                <i class="fa-solid fa-phone"></i> +55 (15) 99652-7617<br>
                <a href="mailto: igor.lima103@etec.sp.gov.br">
                    <i class="fa-solid fa-envelope"></i>igor.lima103@etec.sp.gov.br
                </a>
            </address>

            <form method="POST">
                <input required type="text" name="email_contact" placeholder="exemplo@gmail.com" />
                <input name="acao" type="submit" />
            </form>
        </div>

        <hr>

        <div id="footer-bottom">
            <p>Todos os Direitos Reservados - 2022</p>
        </div>
    </div>
</footer>
